# loadkeys fr-latin1
# mount -o remount,size=2G /run/archiso/cowspace
# Ensure you run
# ansible-galaxy collection install community.general
# ansible-galaxy collection install ansible.posix
# Format your drives manually before running the playbook.
# gidisk /dev/drive
# codes: EFI ef00, swap 8200, root default (8320)
---
hostname: "zephy"
username: "oj"
# auto partition vars tdb
auto_partition: false
auto_partition_disk: "sda"
auto_partition_boot_size: "512MB"
auto_partition_swap_size: "2G"
# manual partition vars
boot: "nvme0n1p1"
swap: "nvme0n1p5"
root: "nvme0n1p6"
windows: "nvme0n1p3"
dual_boot: true
format_boot: false
# localisation data
timezone: "Pacific/Tahiti"
locale: "en_US"
locale_encoding: "UTF-8"
keymap: "fr_latin1"
